
.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 10px;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}
